<%= form_for @post, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :body, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :body, :class => 'text_area' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                posts_path, :class => 'btn' %>
  </div>
<% end %>

<div class="sideform">

<%= form_tag new_post_path, :method => :get  do %>
  <%= select_tag "League", options_from_collection_for_select(@leagues, "id", "name") %>

  Batting Average<%= check_box  "search", :avg %>
  HomeRuns<%= check_box  "search", :hr %>
  RBI<%= check_box  "search", :rbi %>
  Slugging Percentage<%= check_box  "search", :slg %>

  Sort By:
  Batting Average<%= check_box  "search_sort", :avg %>
  HomeRuns<%= check_box  "search_sort", :hr %>
  RBI<%= check_box  "search_sort", :rbi %>
  Slugging Percentage<%= check_box  "search_sort", :slg %>

  Sort Direction:
  <%= select_tag :sort_direction, options_for_select([["Highest", 2], ["Lowest", 1]]) %>

  <%= submit_tag "Search" %>
<% end %>

<%= render :template  => "searches/data_tables" %>

</div>
