<div class="new-post span4">
  <%= form_for @post, :html => { :class => 'form-horizontal' } do |f| %>
    <div class="control-group">
        <%= f.text_field :title, :class => 'text_field', :placeholder => "Title" %>
    </div>
    <div class="control-group">
      <%= f.label :body, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :body, :class => 'text_area' %>
      </div>
    </div>
    <% if params[:search] %>
      <% params[:search].each do |key,value| %>
        <%= hidden_field_tag "search[#{key}]",value %>
      <% end %>
    <% end %>

    <% if params[:search_sort] %>
      <% params[:search_sort].each do |key,value| %>
        <%= hidden_field_tag "search_sort[#{key}]",value %>
      <% end %>
    <% end %>

    <%= hidden_field_tag "sort_direction", params[:sort_direction] %>


    <div class="control-group">
      Save Table
      <div class="controls">
        <%= check_box "search", :save_table %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  posts_path, :class => 'btn' %>
    </div>
  <% end %>
</div>

<div class="sideform span6">
  <%= form_tag new_post_path, :method => :get  do %>
    Search: <%= submit_tag "Search", :class => "btn btn-large btn-primary" %><br><br>
    League: <%= select_tag "League", options_from_collection_for_select(@leagues, "id", "name") %><br>
    Sort By: <%= select_tag :sort_direction, options_for_select([["Highest", 2], ["Lowest", 1]]) %><br>
    Choose 1 Category to Filter your Data:<br>
      <li><%= check_box  "search_sort", :avg %>  Batting Average</li>
      <li><%= check_box  "search_sort", :hr %>   HomeRuns</li>
      <li><%= check_box  "search_sort", :rbi %>  RBI</li>
      <li><%= check_box  "search_sort", :weight %>  Weight</li>
      <li><%= check_box  "search_sort", :win %>  Wins</li>
      <li><%= check_box  "search_sort", :ktotal %>   Strikeouts</li>
      <li><%= check_box  "search_sort", :qstart %>  Quality Starts</li><br><br><br><br>

    Select the attributes to be returned:<br>
    <ul class="mlb">
      <% PlayerMlb.new.attributes.keys.map(&:to_sym).each do |player_attribute| %>
        <% if MLB_MAPPING[player_attribute].present? %>
        <li> <%= check_box "search", player_attribute %> <%= MLB_MAPPING[player_attribute] %></li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</div>

      <%= render :template  => "searches/data_tables" %>


      <%= render :partial  => "searches/data_tables", :locals => {:query_response => @query_response} %>
