<div class="new-post span6">
  <%= form_for @post, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field', :placeholder => "Title" %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.text_area :body, :class => 'text_area', :placeholder => "Post Body" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                posts_path, :class => 'btn' %>
  </div>
<% end %>
</div>

<div class="sideform span4">

<%= form_tag new_post_path, :method => :get  do %>
  <%= select_tag "League", options_from_collection_for_select(@leagues, "id", "name") %>

<ul>
  <li><%= check_box  "search", :avg %>Batting Average</li>
  <li><%= check_box  "search", :hr %>HomeRuns</li>
  <li><%= check_box  "search", :rbi %>RBI</li>
  <li><%= check_box  "search", :slg %>Slugging Percentage</li>
</ul>

  Sort By:
<ul>
  <li><%= check_box  "search_sort", :avg %>Batting Average</li>
  <li><%= check_box  "search_sort", :hr %>HomeRuns</li>
  <li><%= check_box  "search_sort", :rbi %>RBI</li>
  <li><%= check_box  "search_sort", :slg %>Slugging Percentage</li>
</ul>

  Sort Direction:
  <%= select_tag :sort_direction, options_for_select([["Highest", 2], ["Lowest", 1]]) %>

  <%= submit_tag "Search", :class => 'btn' %>
<% end %>

<%= render :template  => "searches/data_tables" %>

</div>
