<div class="container">
	<%- model_class = Post -%>
	<div class="page-header">
	  <h1><%= @post.title %></h1>
	  <h4 class="author">by <%= @post.user.username if @post.user %></h4>
	  <div class="score span1">
	  	<%= @post.score %>
	  </div>
	</div>

	<article class="span8">
	  <%= @post.body %>
    <%= @table.table_html.html_safe if @table %>
	</article>

	<div class="replies">
		<!--replies go here-->
	</div>
</div>

