<!DOCTYPE html>
<html>
<head>
  <title>Comments</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" <%= link_to image_tag("logo-1.png", :alt => "Couch Commenter"), root_url %></a>
        <ul class="nav">
          <li><%= link_to "Create Post", new_post_path %></li>
        </ul>
    </div>
  </div>
</div>
<div class="container">
<%= yield %>
</div>

</body>
</html>
