<!DOCTYPE html>
<html>
<head>
  <title>Comments</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" <%= link_to image_tag("logo_new.png", :alt => "Couch Commenter"), posts_path %></a>
        <ul class="container nav">
           <% if user_signed_in? %>
            <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
            <li><%= link_to "Create Post", new_post_path %></li><style> li { padding:2px 0px; } </style>
          <% else %>
            <li><%= link_to "Create Post", new_post_path %></li><style> li { padding:2px 0px; } </style>
            <li><%= link_to "Sign In", new_user_session_path %></li>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <% end %>
        </ul>
    </div>
  </div>
</div>
<div class="container">
<% flash.each do |name, msg| %>
<%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<%= yield %>
</div>

</body>
</html>
